<div class="row">
    <aside class="col-sm-4">
        <h2><%= @user.name %> さんの詳細</h2>
    </aside>
    <div class="col-sm-8">
        <ul class="nav nav-tabs nav-justified mb-3">
            <li class="nav-item"><a href="<%= my_comments_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(my_comments_user_path(@user)) %>">コメント一覧  <span class="badge badge-secondary"></span></a></li>
            <li class="nav-item"><a href="<%= likes_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(likes_user_path(@user)) %>">いいね一覧  <span class="badge badge-secondary"></span></a></li>
            <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>">立てた掲題一覧  <span class="badge badge-secondary"></span></a></li>
        </ul>
        <%= render 'comments/comments', comments: @my_comments %>
    </div>
</div>    